@import "tailwindcss";

@theme {
  --color-primary-light-1: #59ac69;
  --color-primary-light-2: #6bb579;
  --color-primary: #46a358;
  --color-primary-dark-1: #1c4123;

  --color-grey-light: #fbfbfb;
  --color-grey-light-1: #f3f4f6;
  --color-grey-light-2: #777777;
  --color-grey-dark: #3d3d3d;
  --color-grey-dark-2: #727272;

  --color-tag-orange: #f6b766;

  --font-first: "Montserrat", serif;
  --font-second: "Roboto", serif;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-grey-light);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-grey-light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-light-1);
  cursor: pointer;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-first);
  font-size: 1.6rem;
  color: var(--color-grey-dark);
  background-color: #fff;
}
